<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Photos Album</title>
</head>

<body>
  <a href="./">Home</a>
  <a href="./getalbums">GET ALBUMS</a>
  <a href="./logout">Log Out</a>
  <h1>Welcome <%=username%>,</h1>
  <% mediaItems.mediaItems.forEach(function(mediaItem) { %>
    <li>
      <h3><a href="<%=mediaItem.productUrl%>">
          <%=mediaItem.id%>
        </a></h3>
      <p>
        <img src="<%=mediaItem.baseUrl%>=w300-h300" />
        <a href="./identify">Identify</a>
      </p>
    </li>
    <% })%>
</body>

</html>